# Configuration de l'base de données
DB_HOST=db
DB_USER=irannews_user
DB_PASSWORD=irannews_pass
DB_NAME=irannews
DB_PORT=3306

# Configuration de l'application
APP_DEBUG=true
APP_NAME=IranNews
APP_URL=http://localhost:8000
